# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# YOLO files
yolo_dataset/labels.cache
yolov8n.pt
runs/

# IDE files
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/